input, button, submit {
  border:none;
}

body {
  position: relative;
}

li {
  font-family: Roboto;
}

p {
  font-weight: 300;
  font-size: 1.2em;
}

.container {
  padding: 0;
}

#bottom-border {
  border-bottom: 1px solid #FF0000;
  position: relative;
  top: 140px;
}

#top-border {
  border-bottom: 4px solid #FF0000;
  position: relative;
  top: 32px;
}

nav {
  width: 100%;
  display: inline-block;
  vertical-align: top;
  position: relative;
  top: -50px;
}

nav li {
  color: #FF0000;
  vertical-align: bottom;
  font-weight: bold;
}

nav li:last-of-type {
  color: #7D7D7D;
}

nav ul {
  white-space: nowrap;
}

nav img {
  margin-right: 10px;
}

.mobile {
  display: none;
}

@media screen and (max-width: 1170px) {
  nav > ul img {
    max-width: 250px;
  }
  nav {
    top: -20px;
  }
  .this-week .media-left img {
    max-width: 280px;
  }
}

@media screen and (max-width: 990px) {
  nav.mobile {
    display: inline-block;
  }
  nav.desktop, .before-nav, .sign-in, #top-border {
    display: none !important;
  }
  .follow-newsweek {
    display: none;
  }
  nav {
    top: 0;
    margin-bottom: 20px;
  }
  nav.mobile > img {
    width: 48%;
    display: inline-block;
  }
  nav.mobile ul:first-of-type {
    float: left;
  }
  nav.mobile ul:last-of-type {
    float: right;
    margin-bottom: 21px;
  }
  #bottom-border {
    top: 55px;
  }
}

@media screen and (max-width: 768px) {
  .halfCol {
    display: none;
  }
  .mobile {
    display: block;
  }
  .mobile .article-img {
    width: 100%;
    height: 220px;
    background-image: url(iphone.png);
    position: relative;
    border-bottom: 2px solid #FF0000;
  }

  .mobile .article:nth-of-type(2) .article-img {
    background-image: url(iphone.png);
  }
  .mobile .article:nth-of-type(3) .article-img {
    background-image: url(tiger-band.png);
  }

  .mobile .article #category {
    background-color: #FF0000;
    color: white;
    padding: 5px;
    position: absolute;
    bottom: 0;
    left: 0;
  }
  .article-mobile #category {
    color: #FF0000;
    font-weight: bold;
    margin: 0
  }
  .article-mobile:last-of-type {
    border-bottom: 0;
  }
  .article-mobile img {
    display: inline;
    max-width: 45%;
    float: left;
  }
  .article-mobile h3 {
    font-size: 1.3em;
    margin-top: 5px;
  }
  .article-mobile .text {
    float: left;
    text-align: left;
    display: inline-block;
    max-width: 50%;
    margin-left: 10px;
  }
  .mobile .article h3 {
    font-weight: 600;
    margin-top: 10px;
  }
  .article > p.mobile#subheading, .article p {
    font-size: 1.4em;
    font-weight: 300;
  }
  .mobile .side-articles #news-feed {
    width: 100%;
  }
  .mobile .side-articles .news-item {
    border-bottom: 1px solid #C8C8C8;
  }
  .mobile .side-articles .news-item:last-of-type {
    border-bottom: 0;
  }
  .mobile .side-articles .news-item p {
    font-size: 1.5em;
  }
  .big-shots, .this-week, .conventional-wisdom, .gray-background {
    display: none;
  }
  .follow-newsweek {
    display: block;
    margin: 15px auto;
  }
  .follow-newsweek:first-of-type {
    width: 300px;
  }
  .follow-newsweek:nth-of-type(n+2){
    width: 95%;
  }
  .follow-newsweek:nth-of-type(2) #subscribe {
    width: 90%;
    margin: 20px auto;
  }
  .newsweek-heading {
    width: 100%;
    text-align: center;
  }
  .newsweek-item {
    width: 95%;
    margin: auto;
  }
  .col-xs-12 .newsweek-item > span:nth-of-type(n+1) {
    margin-left: 0;
  }
  footer.desktop {
    display: none;
  }
  footer.mobile {
    display: block;
  }
  footer.mobile ul {
    max-height: 260px;
    width: 100%;
    margin: 0;
  }
  footer.mobile div {
    background-color: #EBEBEB;
    width: 50%;
    float: left;
  }
  footer.mobile li {
    border-bottom: 1px solid white;
    padding: 10px;
    color: #7D7D7D;
    text-align: center;
    margin: 0 25px;
    white-space: nowrap;
  }
  footer.mobile p {
    background-color: #FF0000;
    color: white;
    font-size: 1.2em;
    font-weight: 500;
    padding: 15px;
    text-align: center;
    margin-bottom: 0;
  }
}
.sign-in {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: flex-end;
}

.sign-in img {
  position: absolute;
  right: 0;
}

.sign-in div span {
  font-style: italic;
  font-weight: bold;
  color: #FF0000;
}

.before-nav {
  position: relative;
  top: 12px;
}

.before-nav form {
  display: inline;
}

.before-nav form input {
  color: #7D7D7D;
  border-style: none;
  border-bottom: 1px solid #C8C8C8;
  vertical-align: top;
}

.before-nav li {
  vertical-align: top;
}

.follow-newsweek {
  background: repeating-linear-gradient(
    135deg,
    #F9F9FA,
    #F9F9FA 2px,
    #E6E7E8 2px,
    #E6E7E8 4px
  );
  width: 100%;
  margin-bottom: 30px;
  padding: 15px;
}

.follow-newsweek .newsweek-heading {
  color: white;
  font-weight: bold;
  display: inline-block;
  padding: 0 10px;
  background-color: #20C3F3;
}

.follow-newsweek #images {
  display: block;
  margin: 10px 0;
}

.follow-newsweek img {
  display: inline-block;
}

.follow-newsweek > #subscribe {
  display: block;
  max-width: 100%;
  margin: auto;
}

.follow-newsweek form {
  background-color: white;
  display: inline-block;
  padding: 10px;
}

.follow-newsweek input:first-of-type {
  border-bottom: 1px solid #C8C8C8;
  width: 130px;
}

.follow-newsweek input:nth-of-type(2) {
  background-color: #20C3F3;
  color: black;
  box-shadow: 5px 5px 5px 1px #C7C7C7;
  margin-left: 10px;
}

.newsweek-container {
  background-color: white;
  margin: 10px 0 20px 0;
}

.newsweek-container:last-of-type {
  margin-bottom: 0;
}

.newsweek-item {
  font-weight: 300;
  border-bottom: 1px solid #C8C8C8;
  padding-bottom: 10px;
}

.newsweek-item span:first-of-type {
  display: inline-block;
  font-size: 1.3em;
  font-weight: 300;
  margin: 10px 10px 0 10px;
}

.newsweek-item .shares{
  display: block;
  font-style: italic;
  font-size: 1em;
  font-weight: 300;
  color: #7D7D7D;
}

.newsweek-item span > img {
  margin: 0 5px;
}

.newsweek-item:last-of-type {
  border-bottom: 0px;
}

#news-feed {
  color: white;
  background-color: #FF0000;
  padding: 5px;
  font-weight: bold;
  font-size: 1.5em;
  text-align: center;
  width: 75%;
}

#big-shots {
  color: white;
  background-color: #FF0000;
  padding: 5px;
  font-weight: bold;
  font-size: 1.3em;
  text-align: center;
}

.halfCol, .fullCol {
  padding: 0;
}

.halfCol .col-lg-3 {
  padding: 0 10px 0 0;
  margin-top: 30px;
}

.halfCol .col-lg-9 {
  padding: 0 0 0 20px;
  border-left: 1px solid #C8C8C8;
}

h1, p, span, h3, h2 {
  color: black;
}

.main-articles ul {
  padding-left: 16px;
  color: #FF0000;
  list-style: square;
  font-weight: bold;
}

.article:last-of-type {
  border-bottom: 0;
}

.article, .article-mobile {
  border-bottom: 1px solid #C8C8C8;
  margin: 10px 0;
  padding-bottom: 10px;
}

.main-articles .article #subheading {
  font-size: 1.2em;
  font-weight: 300;
}

.article h1 {
  margin: 0;
}

.article #related-posts span {
  color: #20C6F6;
  font-weight: bold;
  font-size: 0.9em;
}

.article #related-posts {
  font-weight: bold;
  font-size: 0.9em;
}

.article #category {
  color: #FF0000;
  font-weight: bold;
  margin: 0
}

.media-left {
  padding-right: 15px;
}

.news-item span {
  font-weight: bold;
}

.news-item {
  padding: 12px 0;
  border-bottom: 2px dotted #C8C8C8;
}

.news-item:last-of-type {
  border-bottom: 0px;
}

.news-item p {
  margin: 0;
}

.big-shots {
  margin-top: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #C8C8C8;
}

#subtitle {
  font-size: 1.4em;
  margin-left: 10px;
  color: #5A5A5A
}

.big-shots img {
  max-width: 100%;
  margin-top: 20px;
}

.this-week {
  background: repeating-linear-gradient(
    135deg,
    #F9F9FA,
    #F9F9FA 2px,
    #E6E7E8 2px,
    #E6E7E8 4px
  );
  font-family: Roboto;
  padding: 20px;
  margin: 30px 0;
}

.this-week #big-shots {
  font-size: 1em;
  margin-top: 10px;
  margin: 0;
  top: 5px;
}

.this-week .media-body span:nth-of-type(2) {
  background-color: white;
  padding: 5px;
  text-align: center;
  position: relative;
  top: 5px;
}

.quote-container {
  background-color: white;
  padding: 5px;
  margin-top: 20px;
}

.this-week .quote {
  font-size: 2.5em;
  font-weight: 300;
  padding: 20px 10px 0 10px;
  font-style: italic;
  line-height: 1.2;
}

.this-week .quote-attribution {
  color: #7D7D7D;
  font-size: 1em;
  padding: 5px 10px 10px 10px;
}

.this-week #inside {
  text-align: center;
  padding: 2px;
  margin: 0 10px;
  font-weight: 500;
  color: #7D7D7D;
  border-top: 1px solid #CFCFCF;
  border-bottom: 1px solid #CFCFCF;
}

.this-week .inside-items {
  margin: 10px;
  padding: 5px;
  background-color: #5A5A5A;
}

.this-week .inside-items img {
  margin: 4px;
}

.this-week .inside-items span {
  color: white;
  font-size: 1.1em;
  font-weight: 300;
}

.conventional-wisdom {
  padding-top: 30px;
  border-top: 1px solid #CFCFCF;
}

.conventional-container {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.conventional-container:last-of-type {
  margin-top: 13px;
}

.conventional-item {
  position: relative;
  max-width: 32%;
}

.conventional-item img {
  width: 100%;
}

.conventional-container:first-of-type .conventional-item::before {
  content: "";
  position: absolute;
  left    : 0;
  bottom  : 0;
  height  : 100%;
  width   : 100%;
  padding-bottom: 20px;
  border-bottom: 2px dotted #C8C8C8;
}

.conventional-container:first-of-type .conventional-item::after {
  content: "";
  position: absolute;
  left : 10px;
  top : 0;
  height  : 97%;
  width   : 100%;
  border-right: 2px dotted #C8C8C8;
}

.conventional-container:last-of-type .conventional-item::after {
  content: "";
  position: absolute;
  left    : 10px;
  bottom  : 0;
  height  : 100%;
  width   : 100%;
  border-right: 2px dotted #C8C8C8;
}

.conventional-container .conventional-item:last-of-type::after {
  border-right: 0;
}

.back-issues {
  padding: 25px 0;
  height: 540px;
}

section.gray-background {
  background-color: #505050;
  width: 100%;
  margin-top: 30px;
}

.issues {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 540px;
  max-width: 100%;
}

.issue {
  max-height: 100%;
  width: 19%;
}

.issue img {
  box-shadow: 2px 2px 5px 2px #2E2E2E;
}

.issue h3 {
  color: white;
  font-size: 1.3em;
}

.issue p {
  border-bottom: 2px dotted #7A7A7A;
  font-size: 0.9em;
  color: white;
  padding-bottom: 10px;
}

.issue p:last-of-type {
  border-bottom: 0;
}

footer.desktop {
  background-color: #232323;
  padding-top: 20px;
}

footer .container {
  text-align: center;
}

footer span, footer p {
  color: white;
  font-size: 0.9em;
  font-weight: 300;
}

footer span {
  padding: 3px;
}
